:root {
    --laranjaEscuro: #ff5e38;
    --laranjaClaro: #ff7c35;
    --laranjaGradiente: linear-gradient(to right, #ff5e38, #ff7c35);
    --fontePrincipal: 'Inter';
    --cinzaClaro: #ababab;
    --cinzaClarinho: #dae2e5; 
    --cinzaEscuro: #53565b;
}

/*32px ≈ 2.5vw
  18px ≈ 1vw
  
 
 
*/

main{
    background: url(img/bg-header.webp) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10vh 15vw 15vh 15vw;

    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: top;
	
}

.header-menu{
  position: absolute;
  top: 10vh;
  right: 0vw;
  width: 12.5vw;
  height: 22vh; 
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: transform 0.3s ease-in ;
}

main a{
  font-size: 1.1vw;
  color: #fff;
  font-family: var(--fontePrincipal);
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;

}


a:focus:after,
a:hover:after {
  width: 100%;
  left: 0%;
}

a:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--laranjaClaro);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

img{
    width: 20%;
}

.header-hl{
    width: 50%;
    font-family: var(--fontePrincipal);
    color: white;
	padding-top: 5vh;
   
}

.headline{
    font-size: 2.5vw;
    padding-top: 5vh;
}

.subheadline{
    font-size: 1vw;
    font-weight: 400;
    padding: 1.2vw 0vw 3vw 0vw;
}

.header-hl a::after{
  display: none;
}

.btn{
    background: var(--laranjaGradiente);
    padding: 1vw 4vw;
    border-radius: 5px 5px 100px 5px;
    font-weight: 700;
    font-size: 1vw;
}

.btn:hover{
    background: var(--laranjaEscuro);
}


.mobile-menu{
  position: absolute;
  left: 92%;
  bottom: 90%;
	cursor: pointer;
  
}

.mobile-menu div{
	width: 32px;
	height: 2px;
	background-color: white;
	margin: 8px;
  transition: .3s;
}

.mobile-menu.active .line1{
	transform: rotate(-45deg) translate(-7px, 7px);
}

.mobile-menu.active .line2{
	opacity: 0;
}

.mobile-menu.active .line3{
	transform: rotate(45deg) translate(-4px, -6px);
}

.header-menu.active{
  display: flex;
  transition: .3s;
}

/* SERVIÇOS */

.servicos{
	background: var(--laranjaEscuro);
	padding: 10vh 15vw;
		
}
.servicos-titulo{
	color:white;
	font-family: var(--fontePrincipal);
	
}
.servicos-titulo h3{
	font-size: 2vw;
	
}
.servicos-titulo h4{
	font-size: 1vw;
	font-weight: 400;
	padding: 1vw 0vh;
}

.servicos-cards1{
	display: flex;
	color: black;
	font-family: var(--fontePrincipal);
	font-weight: 400;
	gap: 1vw;
	justify-content: space-between;
	margin-top:2vw;
}

.card-container {
  width: 25%;
  height: 40vh;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: white;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.serv{
  background: url(img/nr12.jpg)
}

.serv2{
  background: url(img/pmoc.jpg)
}

.serv3{
	background: url(img/desmanche.jpg)
}
.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  gap: 1vh;
}

.card .front-content p {
  font-size: 1.1vw;
  font-weight: 500;
  opacity: 1;
  color: var(--laranjaEscuro);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
	margin-top: auto;
	padding: 2vh 2vh 4vh 2vh;
	background: white;
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background: var(--cinzaEscuro);
  color: white;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  transform: translateY(96%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateY(-30%);
}

.card:hover .front-content p {
  opacity: 0;
}

/* SOBRE */

.sobre{
	padding: 9vh 15vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.sobre-texto{
	width: 50%;
	font-family: var(--fontePrincipal);
}

.sobre-texto p{
	font-size: 1vw;
	line-height: 1.3em;
}

.sobre-titulo{
	color: var(--laranjaEscuro);
}

.sobre-titulo h3{
	font-size: 2vw;
}

.sobre-titulo h4{
	font-size: 1vw;
	font-weight: 400;
	padding: 1vw 0vh 2vw 0vw;
}

.sobre-imagem{
	width: 40%;
}

/* CONTATO */

.contato{
	background: url(img/bg-contato.webp) var(--cinzaEscuro);
	padding: 10vh 15vw;
	font-family: var(--fontePrincipal);
}

.contato-titulo{
	color: white;
}

.contato-titulo h3{
	font-size: 2vw;
}

.contato-titulo h4{
	font-size: 1vw;
	font-weight: 400;
	padding: 1vw 0vh 2vw 0vw;
}

.contato-cards{
	display: flex;
	justify-content: space-between;
}

.contato-cards-forms{
	background-color: white;
	padding: 2vw 1vw;
	width: 40%;
	border-radius: 10px
}


.contato-cards-mapa::before{
  content: "";
  pointer-events: none;
  border-radius: 50%;
  margin-top: 80px;
  left: 50%;
  position: absolute;
  width: 1.5px;
  height: 30%;
  background-color: var(--cinzaClaro);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.contato-cards-mapa{
	width: 30vw;
}

.contato-cards-mapa iframe{
	width: 100%;
  height: 100%;
}

.contato-formulario-campos{
	display: flex;
	flex-direction: column;
}

.contato-formulario-campos-input{
	padding: 1.5vh;
	margin-bottom: 3vh;
	border-radius: 0.3vw;
	border: none;
	background-color: #ebebeb;
	
}

.contato-formulario-campos-input::placeholder{
	color: #929090;
	font-family: var(--fonte-principal);
	outline-color: lightgray;
}

.contato-formulario-campos-input:focus{
	color: black;
	font-family: var(--fonte-principal);
    outline-color: lightgray;			
}
	
.contato-formulario-campos-input:not(:focus) {
	color: black;
	font-family: var(--fonte-principal);
	outline-color: lightgray;
}

textarea{
  height: 15vh;
}

.btn-form{
	width: 100%;
	color: white;
	font-weight: 600;
	font-size: 0.8vw;
	border: none;
}

.btn-form:hover{
  cursor: pointer;
}

.rodape{
  padding: 3vh;
  background-color: #DAE2E5;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.footer-menu{
  padding: 2vh;
  display: flex;
  gap: 1vw;
}

.footer-menu a{
  font-size: 0.8vw;
  color: var(--cinzaEscuro);
  font-family: var(--fontePrincipal);
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  text-decoration: none;

}


.rodape img{
	width: 5%;
}